<template name="simulation">
  <div class="container">
    <div class="col-md-12">
      <div class="row flex-container">
        <div class="col-xs-8 flex-container">
            <div class="col-xs-6 text-center pull-left">
              <h2>
                Hilary Clinton
              </h2>
          </div>
          <div class="col-xs-4">
            <h1>{{votes 'dem'}}</h1>
          </div>
        </div>

        <div class="col-xs-8 flex-container">
          <div class="col-xs-4">
            <h1>{{votes 'gop'}}</h1>
          </div>
          <div class="col-xs-6 text-center pull-left">
            <h2>
              Donald Trump
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="text-center">
          270<br />
          v
        </div>
        <div class="progress">
          <div class="progress-bar vote-dem" role="progressbar" style="width: {{progress 'dem'}}%">
            <!-- {{votes 'dem'}} -->
          </div>
          <div class="progress-bar vote-none" role="progressbar" style="width: {{progress 'none'}}%">
            <!-- {{votes 'none'}} -->
          </div>
          <div class="progress-bar vote-gop" role="progressbar" style="width: {{progress 'gop'}}%">
            <!-- {{votes 'gop'}} -->
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="svg-container">
          <svg class="us svg-content" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 959 593" preserveAspectRatio="xMinYMin meet">
            <title>Blank US states map.svg</title>
            <g id="outlines">
              {{#each states}}
              <path id="{{code}}" class="state" fill="{{fill}}" d="{{path}}"/>
              {{/each}}
            </g>
            <path id="frames" fill="none" stroke="#A9A9A9" stroke-width="2" d="M215,493v55l36,45 M0,425h147l68,68h85l54,54v46"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>
