@import 'https://fonts.googleapis.com/css?family=Arvo';

html, body {
  font-family: 'Arvo', serif;
}

.state {
  stroke: white;
  stroke-width: 1;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	/*padding-bottom: 100%;*/
	vertical-align: middle;
	overflow: hidden;
}

.vote-none {
  color: black;
  background-color: #d3d3d3;
}

.vote-gop {
  background-color: #E02F2F;
}

.vote-dem {
  background-color: #20658D;
}

.vertical {
  display: inline-block;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}
.vertical {
  box-shadow: inset 0px 4px 6px #ccc;
}
.progress-bar {
  box-shadow: inset 0px 4px 6px rgba(100,100,100,0.6);
}

.progress-container {
  margin-top: 40px;
  padding-top: 20px;
  /*background-color: #beb*/
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
