<head>
  <title>VOTES 2016</title>
</head>


<template name="mainLayout">
<body>
  <!-- Header Starts Here -->
  <header class="header">
    <!-- Utility Navigation -->
    <nav class="navbar navbar-default navbar-static-top header-nav">
      <div id="main-nav-collapse" class="navbar-collapse collapse">
        <div class="nav_overflow_mob">
          <nav class="navbar navbar-default utility-nav text-center">
            <div class="container">
              <div class="row">
                <ul class="nav navbar-nav" id="utility_menu">
                  <li><a href="/alumni">Alumni</a></li>
                  <li><a href="/parents">Parents</a></li>
                  <li><a href="http://hub.nmhschool.org">The Hub</a></li>
                  <li><a href="/nmh-calendar">Calendar</a></li>
                  <li><a href="https://community.nmhschool.org/NMHFund">Give Now</a></li>
                  <li><a href="/about-nmh/contact-nmh">Contact Us</a></li>
                  <li class="local-search local_search"><a href="#" id="local_search">Search</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <nav class="navbar navbar-default main-nav text-center">
            <div class="container">
              <div class="row">
                <ul class="nav navbar-nav" id="main_menu">
                  <li><a href="/about-nmh">About</a></li>
                  <li><a href="/academics" class="active-trail">Academics</a></li>
                  <li><a href="/admission">Admission</a></li>
                  <li><a href="/student-life">Student Life</a></li>
                  <li><a href="/arts">Arts</a></li>
                  <li><a href="/athletics">Athletics</a></li>
                  <li><a href="/summer-program">Summer Session</a></li>
                  <li><a href="/news-events">News and Events</a></li>
                  <li><a href="/support-nmh">Support NMH</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <div class="container logo-wrapper">
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand navbar-brand-inner" href="http://www.nmhschool.org"><img class="img-responsive" src="http://www.nmhschool.org/sites/all/themes/nmh_school/assets/images/logo.jpg" /></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- Header Ends here -->

  <!-- Content Starts here -->
  <section class="content-wrap">
    <div class="container-fluid">
      <!-- Left Sidebar Starts here -->
      <aside class="col-xs-12 col-md-2 col-xl-1 desktop">
        <nav class="side_nav">
          <div class="region region-sidebar-first">
            <div id="block-menu-block-1--2" class="block block-menu-block block-menu-block">
              <div class="content">
                <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-2">
                  <ul class="menu">
                    <li class="first leaf menu-mlid-4141"><a href="/academics/votes-2016-project/votes-brief-project-history" target="_blank">VOTES: A Brief Project History</a></li>
                    <li class="leaf menu-mlid-4143"><a href="/academics/votes-2016-project/votes-ballot" target="_blank">VOTES: Ballot</a></li>
                    <li class="leaf menu-mlid-4144"><a href="/academics/votes-2016-project/votes-candidate-biographies" target="_blank">VOTES: Candidate Biographies</a></li>
                    <li class="leaf menu-mlid-4118"><a href="https://docs.google.com/document/d/1CMZ5QVXBcQ_yTo2j_via7bjWIwDPs-pqwtYZLBBLD_8/edit">VOTES: Events at NMH</a></li>
                    <li class="leaf menu-mlid-4145"><a href="/academics/votes-2016-project/votes-issues-poll" target="_blank">VOTES: Issues Poll</a></li>
                    <li class="leaf menu-mlid-4146"><a href="/academics/votes-2016-project/votes-leadership" target="_blank">VOTES: Leadership</a></li>
                    <li class="leaf menu-mlid-4139"><a href="/academics/votes-2016-project/votes-links-political-sites" target="_blank">VOTES: Links to Political Sites</a></li>
                    <li class="leaf menu-mlid-4123"><a href="https://docs.google.com/spreadsheets/d/1-ooOvRG1k4tdoXGQJAQ4c0FKqs4uXU4XAzlRnka4rjI/edit#gid=0">VOTES: Participating Schools </a></li>
                    <li class="leaf menu-mlid-4126"><a href="https://docs.google.com/document/d/1IwPgc1nqT13OxYJk68YECFGrmv6bsgTIoZ-jfdJq-qc/edit">VOTES: Past Election Results</a></li>
                    <li class="last leaf menu-mlid-4142"><a href="/academics/votes-2016-project/votes-photos" target="_blank">VOTES: Photos</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </aside>
      <!-- Left Sidebar Ends here -->

      <!-- Content Starts here -->
      <div class="col-xs-12 col-md-8 col-xl-10">
        {{> Template.dynamic template=main}}
      </div>
      <!-- Content Ends here -->
    </div>
  </section>
  <!-- Content Ends here -->

  <!-- Footer Starts here -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="col-sm-4 col-md-4 pl0">
          </div>
          <div class="col-sm-4 col-md-4 pl0">
            <ul class="footer-nav" id="utility_menu">
              <li><a href="/alumni">Alumni</a></li>
              <li><a href="/parents">Parents</a></li>
              <li><a href="http://hub.nmhschool.org">The Hub</a></li>
              <li><a href="/nmh-calendar">Calendar</a></li>
              <li><a href="https://community.nmhschool.org/NMHFund">Give Now</a></li>
              <li><a href="/about-nmh/contact-nmh">Contact Us</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-4 pl0">
            <ul class="footer-nav">
              <li><a href="http://www.myatlascms.com/map/index.php?id=729%27#!ct/9299,10590,9307,11350,9302,10589,9304" target="_blank">Campus Map</a></li>
              <li><a href="/about-nmh/visit-nmh/directions">Directions</a></li>
              <li><a href="/about-nmh/employment-opportunities">Employment</a></li>
              <li><a href="/directory">Employee Directory</a></li>
              <li><a href="https://community.nmhschool.org/nmhonline-login">NMH Online</a></li>
              <li><a href="/node/3046520">Privacy Policies</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 pr0">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
              <address class="address">Northfield Mount Hermon<br>
            One Lamplighter Way<br>
            Mount Hermon, MA 01354<br>
            Tel 413-498-3000<br>
            <a href="mailto:info@nmhschool.org">info@nmhschool.org</a></address>
              <p class="copyrights">&copy; 2015 Northfield Mount Hermon</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7 pr0">
              <ul class="social-list">
                <li><a href="https://www.flickr.com/photos/nmhphotos/albums" target="_blank" class="flickr">Flickr</a></li>
                <li><a href="https://www.linkedin.com/company/37826?trk=tyah&trkInfo=clickedVertical%3Acompany%2Cidx%3A3-2-8%2CtarId%3A1432649655373%2Ctas%3Anorthfiel" target="_blank" class="linkedin">Linked in</a></li>
                <li><a href="https://www.facebook.com/NMHschool" target="_blank" class="facebook">Facebook</a></li>
                <li><a href="https://www.pinterest.com/nmhschool/" target="_blank" class="pinterest">pinterest</a></li>
                <li><a href="https://twitter.com/nmhschool" target="_blank" class="twitter">Twitter</a></li>
                <li><a href="https://www.youtube.com/user/nmhschool" target="_blank" class="youtube">Youtube</a></li>
                <li><a href="https://instagram.com/nmhschool/" target="_blank" class="instagram">Instagram</a></li>
                <li><a href="http://www.nmhschool.org/nmhsocial" class="nmh-social">NMH Social</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="brand-tagline">Well. Grounded.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</template>
